body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quote-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote-text {
  font-style: italic;
  margin-bottom: 10px;
}

.author-text {
  font-weight: bold;
  margin: 0;
  color: #555;
}


blockquote {
  font-style: italic;
}
